/*Shared things */
#applicationWrapper {background-color: #333; color: #fff; font-size: 24px}

#footer { padding: 20px; }
#footer a { color: #A79F7F; text-decoration: none }

#mainContent, #mainContent a { color: #fff; text-decoration: none;}
    #mainContent div.wrapperContainer {padding: 10px 5px; background-color: #666; }

/* List page*/
#filterHeader div { background-color: #5F5F4F; }
    #filterHeader div.row {padding: 20px 0 20px 0}
    #filterHeader, #filterHeader a { color: #fff; text-decoration: none; }
    #filterHeader a span.accentColor { color: #A79F7F; }

#filterText { background-color: #877F5F; border: 1px solid #978F6F; width: 300px}

    #mainContent div.contactItemWrapper {margin: 10px 0 10px 0px; background-color: #333}
    #mainContent div.contactItem {padding: 5px 0 5px 20px; background-color: #333}
        #mainContent div.contactItem .contactData, #mainContent div.contactItem .contactForm  { font-size: 20px; color: #A79F7F; }
        #mainContent div.contactItem .contactData {display: none}

    #mainContent .controlButtons { text-align: right }
        #mainContent .controlButtons a { color: #A79F7F; text-decoration: underline; font-size: 20px}
/*Contact Form*/
    #mainContent .contactForm { background-color: #666;}
    #mainContent .contactForm input { background-color: #333; border: none; color: #A79F7F }
    #mainContent .contactForm label { color: #fff; }
    #mainContent .contactForm .btn-ben {border: 1px solid #978F6F; background-color: #333; color: #A79F7F; padding: 5px 2px; font-size: 20px }
    #mainContent .contactForm a.cancelContactForm {color: #A79F7F; text-decoration: none }

#readme { background-color: #A79F7F }
    #readme .instructions { background-color: #fff }
    #readme a { color: #454538; font-weight: 700   }